* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    color: #000000;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 2%;
}

.header {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.header__primary-nav-list {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    
    margin: 30px 0;
    
    display: flex;
    justify-content: space-between;
    width: 700px;
}


/*text- decoration i color dziala tylko na elemencie "a"*/
.menu-link {
    text-decoration: none;
    color: #000000;
}

.primary-nav-list__item {
    display: inline-block;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
/*    padding: 0 50px;*/
/*    text-decoration: none;*/
/*    color: #000000; 
    
    te wlasciwosci dodane na elemecie "li" nie działają*/
}



.header__banner {
    font-size: 200px;
    font-family: 'Radley', serif;
    font-weight: normal;
    color: #FFFFFF;
}

.header__text {
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    color: #FFFFFF;
/*    text-transform: lowercase;*/
}

.header__text--small {
    font-size: 12px;
    font-family: 'Space Mono', monospace;
    color: #FFFFFF;
    position: absolute;
    transform: rotate(-90deg);
    bottom: 40px;
    left: 2%;
    transform-origin: 0 0;
}

.socialmedia-nav {
    width: 50px;
}

.header__socialmedia-nav {
    position: fixed;
    z-index: 1;
    margin: 2%;
}

.section__title {
    font-size: 40px;
    font-family: 'Radley', serif;
    font-weight: normal;
    padding-top: 40px;
}

.section__title--color {
    color: #F04D23;
}

.section__title--big {
    font-size: 100px;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 100px;
    position: relative;
}

.section__title--big::before {
    content: url("../img/line.svg");
	position: absolute;
	width: 900px;
	z-index: -1;
    left: 100px;
    bottom: -50px;
}

.section__content {
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    padding-top: 20px;
}

.section__content--serif {
    font-size: 15px;
    font-family: 'Radley', serif;
    list-style: none;
    padding-left: 0;
    padding-bottom: 40px;
}

.skillset-list-item {
    line-height: 4;
    border-bottom: 1px solid #eee;
}

.section__content--big {
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
}

.section__link {
    font-size: 15px;
    font-family: 'Space Mono', monospace;
    color: #F04D23;
}

.footer {
    background-color: #e6e2e7;
    text-align: center;
}

.footer__text {
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    padding: 20px;
}




/*//////////////////////////////////////////*/

/*css grid*/


.section {
    display: grid;
    grid-column-gap: 3%;
    padding-bottom: 60px;
}

.section-intro {
    grid-template-columns: 6fr 1fr 5fr;
    grid-template-areas: 
        "intro_text . intro_img";
}

.section-projects {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "projects_text projects_text projects_text"
        "firstCol secondCol thirdCol";
}

.section-contact {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "contact_title contact_title contact_title contact_title"
        "contact_insta1 contact_insta2 contact_insta3 contact_insta4"
        "contact_text contact_text contact_text contact_text";
}

.section-intro__text {
    grid-area: intro_text;
}

.section-intro__img {
    grid-area: intro_img;
    position: relative;
}

.section-intro__img::after {
    content: url("../img/cross.svg");
    position: absolute;
    width: 260px;
    height: auto;
    z-index: -1;
    top: 40px;
    right: 370px;
}

.section-intro__img--author {
    max-width: 100%;
    height: auto;
    padding-top: 100px;
}

.section-projects__text {
    grid-area: projects_text;
}

.section-projects_firstCol {
    grid-area: firstCol;
}

.section-projects_secondCol {
    grid-area: secondCol;
}

.section-projects_thirdCol {
    grid-area: thirdCol;
}

.section-projects__image {
    width: 100%;
    padding-top: 20px;
}

.section-projects__title {
    color: #F04D23;
    padding-top: 20px;
}


.section-contact__title {
    grid-area: contact_title;
}

.section-contact__img {
    grid-area: contact_img;
}

.section-contact__text {
    grid-area: contact_text;
}

.section-contact__insta {
    width: 100%;
    padding: 20px 0;
}

.insta--1 {
    grid-area: contact_insta1;
}

.insta--2 {
    grid-area: contact_insta2;
}

.insta--3 {
    grid-area: contact_insta3;
}

.insta--4 {
    grid-area: contact_insta4;
}


/*          Redefine the grid into a single column layout. */

@media screen and (max-width: 600px){
    .section-intro {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "intro_text"
            "intro_img";
            
    }
    
    .section-contact {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "projects_text"
            "firstCol"
            "secondCol"
            "thirdCol";
    }
    
    .section-project {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "contact_title"
            "contact_insta1"
            "contact_insta2"
            "contact_insta3"
            "contact_insta4"
            "contact_text";
    }
}

